.main
    height: 1075px

    .title
        padding: 7em 

        h2
            font-family: 'Cardo'
            font-style: normal
            font-weight: 400
            font-size: 42px
            line-height: 50px
            text-align: center
            text-transform: capitalize
            color: #1B3764
            position: relative

            &::before
                content: ''
                position: absolute
                width: 50px
                height: 3px
                background-color: #FFCA42
                top: 140%
                left: 48%

    .section
        display: grid
        grid-template-columns: repeat(2, 1fr)
        justify-items: center    

        .elements
            margin: 75px
            display: grid
            grid-template-columns: repeat(2, 1fr)
            grid-template-rows: repeat(2, 1fr)
            align-items: center
            grid-gap: 30px

            .step
                background-color: #F4F8FF
                width: 300px
                height: 270px


                .number
                    margin: 30px 0 5px 30px
                    height: 50px
                    width: 50px
                    background-color: #FFCA42
                    display: flex
                    align-items: center
                    justify-content: center
                    border: 0px solid transparent
                    border-radius: 100%
                    font-family: 'Cardo'
                    font-style: normal
                    font-weight: 400
                    font-size: 23px
                    line-height: 29px
                    color: #1B3764

                .text
                    padding: 10px 50px 10px 30px
                    font-family: 'Cardo'
                    font-style: normal
                    font-weight: 400
                    font-size: 24px
                    line-height: 34px
                    color: #1B3764  



        .image
            height: 535px
            width: 632px
            filter: drop-shadow(0px 0px 20px rgba(27, 55, 100, 0.3))

            img
                position: relative


            &::before
                content: ''
                position: absolute
                height: 115%
                width: 82%
                top: 10%
                left: 10%
                border: 10px solid #FFCA42
                z-index: -1
        